body {
    background: linear-gradient(to bottom, #c66b00, #ffa01b);
    font-family: 'Luckiest Guy', cursive;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: #ffc785;
    padding: 2px 15px;
    box-shadow: 0px 5px 10px black;
    height: 9%;
}

header img {
    margin-top: -3px;


}

section {
    background: #ffc785;
    border-radius: 20px;
    padding: 15px 35px;
    width: 33%;
    height: 450px;
    box-shadow: 5px 5px 10px black;
    justify-self: center;
}

h1 {
    text-align: center;
    font-size: 40pt;
    color: #ffc785;
    margin: 30px;
}

h2 {
    text-align: center;
    font-size: 35pt;
    color: #c66b00;
    margin: 0;
}

p {
    font-size: 15pt;
}

input[type="email"],
input[type="password"] {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
}

input[type="button"] {
        width: 30%;
        padding: 13px;
        background-color: #c66b00;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        margin: 30px auto;
        font-family: cursive;
}

.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.index-container {
    align-items: center;
    padding: 40px 20px;
    text-align: center;
    height: 73%;
}

.index-container h1 {
    font-size: 70px;
}

.sub {
    font-size: 25px;
    color: #fff3dc;
    margin-top: -10px;
    margin-bottom: 40px;
}

.brain-img {
    width: 250px;
    margin: 65px auto;
    display: block;
    animation: pulse 2s infinite;
}

.brain-img:hover {
  box-shadow: none;
}

.start-button {
    width: 20%;
    height: 5%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #c66b00;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
    color: #b66100;
}
  
footer {
    margin: 40px;
}