body{
    background: linear-gradient(to bottom, #c66b00, #ffa01b);
    font-family: 'Luckiest Guy', cursive;
}
body, html{
    height: 100%;
    margin: 0;
    }
header {
    background: #ffc785;
    padding: 2px 15px;
    box-shadow: 0px 5px 10px black;
    height: 9%;
}

header img {
    margin-top: -3px;
    

}

section{
    background: #ffc785;
    border-radius: 20px;
    padding: 15px 35px;
    width: 33%;
    height: 450px;
    justify-self: center;
    box-shadow: 5px 5px 10px black;
   
}
.icon {
    height: 25%;
    margin-top: -15px;
    margin-bottom: 30px;
}

h1{
    text-align: center;
    font-size: 40pt;
    color: #ffc785;
    margin: 30px;
}
h2{
    text-align: center;
    font-size: 30pt;
    color: #c66b00;
    margin-top: -13px;
}
p{
    font-size: 15pt;

}
 input[type="email"],
    input[type="password"],
        input[type="text"] {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
}
input[type="button"] {
        width: 30%;
        padding: 13px;
        background-color: #c66b00;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        margin: auto;
        font-family: cursive;
}
.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: #b66100;
}
    
footer {
    margin: 40px;
}